html{
    background-color: #EDF2C5;
}

.title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    width: 1122px;
    height: 62px;
    margin-top: 36px;
    margin-left: 160px;
}

.nav{
    background-color: #778A50;
    width: 1120px;
    height: 44px;
    font-size: 16px;
    margin-left: 160px;
}

.list{
    display: flex;
    margin: 0;
    padding: 0;
}

.item{
    list-style: none;
    display: block;
    color: #F7FBDA;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    margin-left: 30px;
}

.main-pic{
    width: 1120px;
    height: 448px;
    margin-top: 166px;
    margin-left: 160px;
}

h1{
    color: #778A50;
}

.left{
    float: left;
    background-color: #778A50;
    font-family: 'Noto Sans', sans-serif;
    color: #F7FBDA;
}

.right{
    float: right;
    background-color: #778A50;
    font-family: 'Noto Sans', sans-serif;
    color: #F7FBDA;
}

footer{
    background-color: #778A50;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #F7FBDA;
    width: 1440px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}